@using System.Configuration
@using System.Linq
@using PagedList
@using WebMVCPhongMach.Models

@model IEnumerable<tbl_new_PM>
@{
    Layout = "~/Views/Shared/MasterLayout.cshtml";
    PhongMachEntities db = new PhongMachEntities();
    var dataNewOrther = (from datanew in db.tbl_new_PM
                         where datanew.Status_new_PM == 1 
                        orderby datanew.ID_new_PM descending, datanew.Order_new_PM
               select datanew).ToList();
}
@section head{
    @foreach (var it in Model)
    {
        <meta property="og:title" content="@it.Title_new_PM" />

        <meta property="og:url" content="http://phongkhambacsihon.com/Detail/Detail/@it.ID_new_PM" />
        <meta name="description" content="@it.Shortdescription_new_PM">
        <meta property="og:description" content="@it.Shortdescription_new_PM" />
        <meta name="keywords" content="Phòng Khám,Tai mũi họng,Bác sĩ,viêm mũi dị ứng,viêm họng,viêm tai giữa" />
        <meta property="og:image" content="@ConfigurationManager.AppSettings["domain"]@it.Img_new_PM.Split('_')[0]/@it.Img_new_PM" />
    }
}


<div class="col-main col-xs-12 col-sm-9">
    <div class="padding-s">
        <div class="breadcrumbs">
            <ul>
                <li class="home">
                    @Html.ActionLink("Trang chủ", "Default", "Default", htmlAttributes: new { @class = "cus", @titile = "Trở về trang chủ" })
                    <span>&gt;</span>
                </li>
                <li class="product">
                    <strong>
@foreach (var item in Model)
    
{
    @item.Title_new_PM
}
                    </strong>
                </li>
            </ul>
        </div>
        <div id="messages_product_view"></div>

        <div itemtype="http://schema.org/Product" itemscope="" class="product-view">
            @foreach (var item in Model)
            {
                <div class="product-essential">


                    <div class="product-img-box">
                        <style type="text/css">
                            .cloud-zoom-big {
                                height: 300px !important;
                                width: 300px !important;
                            }
                        </style>
                        <div class="product-box-customs">
                            @if(item.Img_new_PM !=null)
                            { 
                                <p class="product-image">
                                    <div style="top: 0px; z-index: 99; position: relative;" id="wrap">
                                        <a rel="position:'right',showTitle:1,titleOpacity:0.5,lensOpacity:0.5,adjustX: 10,adjustY:-4,zoomWidth:300,zoomHeight:300" id="zoom1" class="cloud-zoom" href="@ConfigurationManager.AppSettings["domain"]@item.Img_new_PM.ToString().Split('_')[0]/@item.Img_new_PM" style="position: relative; display: block;">

                                            <img title="Phòng Khám Tai Mũi Họng Bác Sĩ Nguyễn Minh hảo Hớn" alt="Phòng Khám Tai Mũi Họng Bác Sĩ Nguyễn Minh hảo Hớn" src="@ConfigurationManager.AppSettings["domain"]@item.Img_new_PM.ToString().Split('_')[0]/@item.Img_new_PM" class="big cusimg" style="display: block;">

                                        </a>
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        <div style="background: rgb(255, 255, 255) none repeat scroll 0% 0%; opacity: 0; z-index: 99; position: absolute; width: 235px; height: 235px; left: 0px; top: 0px; cursor: move;" class="mousetrap"></div>
                                    </div>
                                    <span></span>
                                </p>
                                <div class="more-views">
                                    <h2>Xem thêm</h2>
                                    <div class="container-slider">
                                        <ul class="slider tumbSlider-none">
                                            <li>
                                                <a rel="useZoom: 'zoom1', smallImage: '@ConfigurationManager.AppSettings["domain"]@item.Img_new_PM.ToString().Split('_')[0]/@item.Img_new_PM' " title="" class="cloud-zoom-gallery" href="@ConfigurationManager.AppSettings["domain"]@item.Img_new_PM.ToString().Split('_')[0]/@item.Img_new_PM">
                                                    <img alt="Phòng Khám Tai Mũi Họng Bác Sĩ Nguyễn Minh hảo Hớn" src="@ConfigurationManager.AppSettings["domain"]@item.Img_new_PM.ToString().Split('_')[0]/@item.Img_new_PM">
                                                </a>
                                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                                            </li>
                                            @if (item.Img1_new_PM_ != null)
                                            {
                                                <li>
                                                    <a rel="useZoom: 'zoom1', smallImage: '@ConfigurationManager.AppSettings["domain"]@item.Img1_new_PM_.ToString().Split('_')[0]/@item.Img1_new_PM_' " title="" class="cloud-zoom-gallery" href="@ConfigurationManager.AppSettings["domain"]@item.Img1_new_PM_.ToString().Split('_')[0]/@item.Img1_new_PM_">
                                                        <img alt="Phòng Khám Tai Mũi Họng Bác Sĩ Nguyễn Minh hảo Hớn" src="@ConfigurationManager.AppSettings["domain"]@item.Img1_new_PM_.ToString().Split('_')[0]/@item.Img1_new_PM_">
                                                    </a>
                                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                                                </li>
                                            }
                                            else
                                            {
                                                <li class="hidden">
                                                    @*<a rel="useZoom: 'zoom1', smallImage: '@ConfigurationManager.AppSettings["domain"]@item.Img1_new_PM_.ToString().Split('_')[0]/@item.Img1_new_PM_' " title="" class="cloud-zoom-gallery" href="@ConfigurationManager.AppSettings["domain"]@item.Img1_new_PM_.ToString().Split('_')[0]/@item.Img1_new_PM_">
                                                    <img alt="Phòng Khám Tai Mũi Họng Bác Sĩ Nguyễn Minh hảo Hớn" src="@ConfigurationManager.AppSettings["domain"]@item.Img1_new_PM_.ToString().Split('_')[0]/@item.Img1_new_PM_">
                                                </a>*@
                                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                                                </li>
                                            }
                                        </ul>
                                    </div>
                                </div>
                                <div class="gallery-swipe-content">
                                    <div class="bx-wrapper" style="max-width: 100%; margin: 0px auto;">
                                        <div class="bx-viewport" style="width: 100%; overflow: hidden; position: relative; height: 0px;">
                                            <ul class="gallery-swipe" id="gallery-swipe" style="width: 315%; position: relative; transition-duration: 0s; transform: translate3d(0px, 0px, 0px);">
                                                <li style="float: left; list-style: outside none none; position: relative; width: 100px;">
                                                    <a title="Phòng Khám Tai Mũi Họng Bác Sĩ Nguyễn Minh hảo Hớn" href="@ConfigurationManager.AppSettings["domain"]@item.Img_new_PM.ToString().Split('_')[0]/@item.Img_new_PM">
                                                        <img alt="Phòng Khám Tai Mũi Họng Bác Sĩ Nguyễn Minh hảo Hớn" src="@ConfigurationManager.AppSettings["domain"]@item.Img_new_PM.ToString().Split('_')[0]/@item.Img_new_PM">
                                                    </a>
                                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                                                </li>
                                            </ul>
                                        </div>
                                        <div class="bx-controls bx-has-controls-direction">
                                            <div class="bx-controls-direction">
                                                <a href="" class="bx-prev disabled">Prev</a>
                                                <a href="" class="bx-next disabled">Next</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                            else
                            {
                                <p class="product-image">
                                    <div style="top: 0px; z-index: 99; position: relative;" id="wrap">
                                        <a  id="zoom1" class="cloud-zoom" href="#" style="position: relative; display: block;">

                                            <img title="Phòng Khám Tai Mũi Họng Bác Sĩ Nguyễn Minh hảo Hớn" alt="Phòng Khám Tai Mũi Họng Bác Sĩ Nguyễn Minh hảo Hớn" src="" class="big cusimg" style="display: block;">

                                        </a>
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        <div style="background: rgb(255, 255, 255) none repeat scroll 0% 0%; opacity: 0; z-index: 99; position: absolute; width: 235px; height: 235px; left: 0px; top: 0px; cursor: move;" class="mousetrap"></div>
                                    </div>
                                    <span></span>
                                </p>
                                <div class="more-views">
                                    <h2>Xem thêm</h2>
                                    <div class="container-slider">
                                        <ul class="slider tumbSlider-none">
                                            <li>
                                                <a  title="" class="cloud-zoom-gallery" href="#">
                                                    <img alt="Phòng Khám Tai Mũi Họng Bác Sĩ Nguyễn Minh hảo Hớn" src="">
                                                </a>
                                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                                            </li>
                                            <li>
                                                <a  title="" class="cloud-zoom-gallery" href="#">
                                                    <img alt="Phòng Khám Tai Mũi Họng Bác Sĩ Nguyễn Minh hảo Hớn" src="">
                                                </a>
                                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="gallery-swipe-content">
                                    <div class="bx-wrapper" style="max-width: 100%; margin: 0px auto;">
                                        <div class="bx-viewport" style="width: 100%; overflow: hidden; position: relative; height: 0px;">
                                            <ul class="gallery-swipe" id="gallery-swipe" style="width: 315%; position: relative; transition-duration: 0s; transform: translate3d(0px, 0px, 0px);">
                                                <li style="float: left; list-style: outside none none; position: relative; width: 100px;">
                                                    <a title="Phòng Khám Tai Mũi Họng Bác Sĩ Nguyễn Minh hảo Hớn" href="#">
                                                        <img alt="Phòng Khám Tai Mũi Họng Bác Sĩ Nguyễn Minh hảo Hớn" src="">
                                                    </a>
                                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                                                </li>
                                            </ul>
                                        </div>
                                        <div class="bx-controls bx-has-controls-direction">
                                            <div class="bx-controls-direction">
                                                <a href="" class="bx-prev disabled">Prev</a>
                                                <a href="" class="bx-next disabled">Next</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                    <div class="product-shop">
                        <div class="product-name">
                            <h1 itemprop="name">
                                @item.Title_new_PM
                            </h1>
                        </div>



                        <div class="clear"></div>
                        <div class="short-description">
                            <h2>Tóm tắt</h2>
                            <div itemprop="description" class="std">
                                <p style="white-space: pre-line;font-size: 17px;">
                                    @item.Shortdescription_new_PM
                                </p>

                            </div>
                        </div>
                        <div class="clear"></div>




                        <div class="addthis_toolbox addthis_default_style addthis_32x32_style">



                            @*Face Book*@
                            <div id="fb-root"></div>
                            <script>
(function (d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v2.5&appId=1706744036228892";
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
                            <div class="fb-like" data-href="http://phongkhambacsihon.com/Detail/Detail/@item.ID_new_PM" data-layout="standard" data-action="recommend" data-show-faces="true" data-share="true"></div>
                            @*Face Book*@
                            <div class="clear">

                            </div>

                        </div>



                    </div>
                    <div class="clearer"></div>

                  
                </div>
  
                <div class="product-collateral">
                    <div class="box-collateral box-description">
                        <h2>Mô tả chi tiết<span class="toggle"></span></h2>
                        <div class="box-collateral-content">
                            <div class="std">
                                <p style="white-space: pre-line;font-size: 17px;">
                                    @item.Description
                                </p>

                            </div>
                        </div>
                    </div>
                    <div class="col-left sidebar col-xs-12">
                        <div class="block block-tags first">
                            <div class="block-title">
                                <strong><span>Thẻ</span></strong>
                                <span class="toggle"></span>
                            </div>
                            <div class="block-content">
                                <ul class="tags-list">
                                    <li><a style="font-size:75%;" href="#">Phòng Khám</a></li>
                                    <li><a style="font-size:75%;" href="#">Tai Mũi Họng</a></li>
                                    <li><a style="font-size:110%;" href="#">Viêm mũi dị ứng</a></li>
                                    <li><a style="font-size:145%;" href="#">Viêm họng</a></li>
                                    <li><a style="font-size:75%;" href="#">Cách phòng ngừa viêm họng</a></li>
                                    <li><a style="font-size:75%;" href="#">Cách phòng viêm mũi dị ứng</a></li>
                                    <li><a style="font-size:110%;" href="#">phòng khám tai mũi họng</a></li>
                                    <li><a style="font-size:75%;" href="#">phòng khám uy tín</a></li>
                                    <li><a style="font-size:145%;" href="#">phòng khám tai mũi họng uy tín</a></li>
                                    <li><a style="font-size:145%;" href="#">phòng khám tai mũi họng phú nhuận</a></li>
                                    <li><a style="font-size:145%;" href="#">Điều trị viêm xoang ,viêm mũi dị ứng</a></li>
                                    <li><a style="font-size:145%;" href="#">phòng khám bác sĩ nguyễn minh hảo hớn</a></li>
                                    <li><a style="font-size:145%;" href="#">phòng khám bác sĩ hớn</a></li>
                                </ul>

                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
   
    </div>
    @Html.Partial("~/Views/NewOrther/NewOrtherPaging.cshtml", dataNewOrther.ToPagedList(1, 10))
</div>
