@using MvcAjaxPager
@using PagedList.Mvc
@using IPagedList = PagedList.IPagedList
<div id="loader">
    <table id="example1" class="table table-striped table-bordered" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>ID</th>
                <th>Email</th>
                <th></th>

            </tr>
        </thead>

        <tbody>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ID_Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.ID_Email }) |
                        @Html.ActionLink("Details", "Details", new { id = item.ID_Email }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.ID_Email })
                        @Html.ActionLink("Send", "Send", new { id = item.ID_Email })
                    </td>
                </tr>
            }



        </tbody>
    </table>
</div>
@Html.PagedListPager((IPagedList) Model, page => Url.Action("EmailResultpa", "tbl_Email", new { page }), PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new AjaxOptions() { UpdateTargetId = "loader" }))
