@using PagedList
@using PagedList.Mvc
@model IEnumerable<WebMVCPhongMach.Models.tbl_Email>

@{
    ViewBag.Title = "Index";
   
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@Html.ActionLink("SendAll", "SendAll")
<table class="table table-striped table-bordered table-hover" id="dataTables-example">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ID_Email }) |
                @Html.ActionLink("Details", "Details", new { id = item.ID_Email }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ID_Email })
                @Html.ActionLink("Send", "Send", new { id = item.ID_Email })
            </td>
        </tr>
    }

</table>

